<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="공유 캘린더">
    <meta name="keywords" content="캘린더, 일정관리">
    <title>공유 캘린더:
      {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet"
          href="{{ url_for("static", filename="./css/style.css") }}">
    <link rel="stylesheet"
          href="{{ url_for("static", filename="./css/card.css") }}">
    <link rel="shortcut icon"
          href="{{ url_for("static", filename="./images/favicon.ico") }}">
  </head>
  <body>
    <h1>공유 캘린더: {{ self.title() }}</h1>
    {% block content %}내용{% endblock %}
    <div class="msg-container"
         data-msg='{{ get_flashed_messages() | tojson | safe }}'
         data-close-btn-url="{{ url_for("static", filename="./images/close-btn.svg") }}"></div>
    <script src="{{ url_for("static", filename="./js/script.js") }}"></script>
  </body>
</html>
