body {
  scrollbar-gutter: stable;
}

main {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  height: 100vh;
  padding: 1rem 0;
  box-sizing: border-box;
  text-align: left;
}

header {
  flex: 0 0 10rem;
}

aside {
  flex: 0 0 15rem;
}

.calendar {
  flex: 1 1 0;
}
