.msg-container {
  position: fixed;
  left: 50%;
  bottom: 3rem;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  text-align: center;
}

.msg-content {
  min-width: 30vw;
  max-width: 70vw;
  width: max-content;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  border: 1px solid #ac9d19;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(255, 234, 0, 0.5);
  display: flex;
  align-items: center;
  gap: 2rem;
}

.msg-content span {
  flex: 1;
}

.close-btn {
  vertical-align: center;
  width: 1rem;
}
