body {
  background-color: #f8f5f1;
  background-image:
    linear-gradient(#e0dcd9 1px, transparent 1px),
    linear-gradient(90deg, #e0dcd9 1px, transparent 1px);
  background-size: 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 50px;
  margin: 0;
  font-family: "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
}

h1 {
  font-size: 1.5rem;
  color: #5d5b54;
}

p {
  font-size: 0.9rem;
  color: #8e8c84;
}

a {
  color: #d4c4b5;
  text-decoration: none;
}

a:hover {
  color: #b67335;
}

.msg-container {
  position: fixed;
  left: 50%;
  bottom: 3rem;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  text-align: center;
}

.msg-content {
  min-width: 30vw;
  max-width: 70vw;
  width: max-content;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  border: 1px solid #ac9d19;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(255, 234, 0, 0.5);
  display: flex;
  align-items: center;
  gap: 2rem;
}

.msg-content span {
  flex: 1;
}

.close-btn {
  vertical-align: center;
  width: 1rem;
}
