{% extends 'base/calendar.html' %}
{% block title %}그룹 페이지{% endblock %}
{% block content %}
  <h2>{{ name }}</h2>
  <p>{{ desc }}</p>
  <p>초대 코드: {{ invite_code }}</p>
  <a href="{{ url_for("sch_bp.add", group_no=no) }}">일정 추가</a>
  <p>
    일정 목록
    {% if schs %}
      <ul>
        {% for sch in schs %}<li>{{ sch.name }}: {{ sch.start }} ~ {{ sch.end }}</li>{% endfor %}
      </ul>
    {% else %}
      <ul>
        <li>일정이 없습니다.</li>
      </ul>
    {% endif %}
  </p>
{% endblock %}
<!-- {% block script %}<script src="{{ url_for("static", filename="./js/calendar.js") }}"></script>{% endblock %} -->
