<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="공유 캘린더">
    <meta name="keywords" content="캘린더, 일정관리">
    <title>공유 캘린더</title>
  </head>
  <body>
    <h1>공유 캘린더: 내 그룹</h1>
    <ul>
      {% for group in groups %}
        <li>
          <a href={{ url_for("group_bp.group", group_no=group.group_id) }}>{{ group.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </body>
</html>
