{% extends 'base/calendar.html' %}
{% block title %}마이 페이지{% endblock %}
{% block content %}
  <p>
    내 그룹
    {% if groups %}
      <ul>
        {% for group in groups %}
          <li>
            <a href={{ url_for("group_bp.group", group_no=group.group_id) }}>{{ group.name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <ul>
        <li>그룹이 없습니다.</li>
      </ul>
    {% endif %}
  </p>
{% endblock %}
{% block script %}<script src="{{ url_for("static", filename="./js/my.js") }}"></script>{% endblock %}
