<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="공유 캘린더">
    <meta name="keywords" content="캘린더, 일정관리">
    <title>공유 캘린더</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body class="index-page">
    <div class="card">
      <h1>공유 캘린더</h1>
      <p>
        그룹별로 캘린더를 만들어
        <br>
        일정을 효율적으로 관리하세요.
      </p>
      <div class="button-group">
        <a href="{{ url_for("login") }}" class="btn-primary">로그인</a>
        <a href="{{ url_for("register") }}" class="btn-secondary">회원가입</a>
      </div>
    </div>
  </body>
</html>
